# Network configuration
NETWORK_INTERFACE=eth0
NETWORK_SUBNET=192.168.178.0/24
NETWORK_GATEWAY=192.168.178.1
PIHOLE_IP=192.168.178.62

# Pi-hole settings
TZ=Europe/Rome
PIHOLE_WEBPASSWORD=my-secret-passw